@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

.titleText{color: white;}
.subText{color:black;}

.bg{background-color: #5baea7;}
.bgb{border-width: 1vmin; border-style: solid;border-radius: 12px; border-color: #48767c; }
.bgbsi{box-shadow: 0 0 10px 5px inset #48767c;}

.titleFont{
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    text-align: center;
}
.subFont{font-family: 'EB Garamond', serif;}

header{position:absolute;top: 0;left: 0;
    width: 100vw; height: 10vh;
}
nav{
    position: absolute;
    width: auto; height: auto;
    max-height: 50%;
    padding: 1vmin; margin: 0; 
    right:10%;
    top:50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
h1{
    position: absolute;
    width: fit-content; height: fit-content;
    max-width: 40%;
    padding: 0.5vmin; margin: 0; 
    left:50%;
    top:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header1{
    position: absolute;
    width: fit-content; height: fit-content;
    max-width: 10%;
    top: 50%; left:7%;
    padding: 0.5vmin; margin: 0; 
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.header2{
    position: absolute;
    width: fit-content; height: fit-content;
    padding: 0.5vmin; margin: 0; 
    top:50%; left:20%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.link{text-decoration: none;}
.link:link{text-decoration: none;}
.link:visited{text-decoration: none;}
.link:hover{text-decoration: none;}
.link:active{text-decoration: none;}
