@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

body {top: 0; left: 0; width: 100vw; height: 100vh; margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #5baea7;
  }